.hero{
  display: flex;
  flex-direction: column;
  padding-top: 7.5rem;
  margin-bottom: 10rem;
  gap: 2.5rem 0;

  @include laptop{
    padding-top: 4.5rem;
    margin-bottom: 7.5rem;
    gap: 1.5rem 0;
  }

  &__title__inner{

    @include laptop{
      max-width: 52.4rem;
    }
  }

  &__title{

    &__icon{
      //position: relative;
      //margin-top: 1rem;
      padding-top: 1rem;
      width: 7.55rem;
      height: 6.75rem;
      object-fit: cover;
      object-position: center;
      float: left;
      vertical-align: middle;

      @include laptop{
        width: 4.05rem;
        height: 3.65rem;
      }
    }
  }

  &__description{
    max-width: 39.15rem;
  }
}

.about{

  &__inner{
    grid-column: 4 / -1;
  }

  &__title{
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;

    @include laptop{
      margin-bottom: 1.5rem;
      //width: 105%;
    }
  }

  &__description{
    margin-bottom: 2.5rem;
    max-width: 39.15rem;

    @include laptop{
      margin-bottom: 2rem;
      max-width: 26rem;
    }
  }
}

.pride{
  position: relative;
  overflow: hidden;
  padding-top: 10rem;

  @include laptop{
    padding-top: 7.5rem;
  }

  &__inner{
    position: relative;
    padding-bottom: 2rem;
  }

  &__title{
    text-align: center;
    margin-bottom: 2rem;
  }

  &__description{
    text-align: center;
    margin-bottom: 2.5rem;

    @include laptop{
      margin-bottom: 2rem;
    }
  }

  &__list{
    display: flex;
    gap: 0 .5rem;
  }

  &__item{
    width: 38.5rem;
    height: 100%;
    min-height: 27.4rem;
    border-radius: 2rem;
    border: 1px solid #FFFFFF4D;
    backdrop-filter: blur(40px);
    background: #FFFFFF4D;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    @include laptop{
      width: 28.9rem;
      min-height: 19.5rem;
    }

    &__inner{
      display: flex;
      flex-direction: column;
      gap: 2rem 0;

      @include laptop{
        gap: 1.5rem 0;
      }
    }

    &__icon{
      width: 5.75rem;
      height: 5.75rem;
      border-radius: 1rem;
      border: 2px solid #DBDBDBB2;
      backdrop-filter: blur(40px);
      display: flex;
      align-items: center;
      justify-content: center;

      @include laptop{
        width: 5rem;
        height: 5rem;
      }

      svg{
        width: 1.95rem;
        height: 1.95rem;
      }
    }

    &__title{
      max-width: 23.25rem;

      @include laptop{
        max-width: 14.25rem;
      }
    }

    &__description{
      max-width: 26.5rem;
    }
  }
}

.information{
  margin-top: 8rem;
  z-index: 2;

  @include laptop{
    margin-top: 6rem;
  }

  &__paragraph{
    display: flex;
    flex-direction: column;
    gap: .5rem 0;
    position: sticky;
    top: 1.5rem;

    &__inner{
      grid-column: 1 / 4;
      height: 100%;
    }

    &__item {
      padding: 1.5rem;
      border-radius: 2rem;
      background-color: $c-w;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include laptop{
        padding: 1rem;
        border-radius: 1.5rem;
      }

      &.active {
        .information__paragraph__item__progress {
          position: relative;
          display: block;
          visibility: initial;
          margin-top: 4rem;
          border: 1px solid #23222233;
          border-radius: 1rem;
          width: 100%;
          height: 1.2rem;
          transition: width 2s, margin-top .5s ease;

          @include laptop{
            margin-top: 3.6rem;
            height: 1rem;
          }

          &::before {
            width: 100%;
          }
        }
      }

      &__title {
        display: flex;
        align-items: center;
        gap: 0 1rem;

        &__number {
          width: 3.35rem;
          height: 3.35rem;
          background-color: $c-b;
          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $c-w;

          @include laptop{
            width: 2.85rem;
            height: 2.85rem;
          }
        }

        &__name {
          color: $c-b;
        }
      }

      &__progress {
        visibility: hidden;
        transition: margin-top .5s ease;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: $c-b;
          width: 0;
          height: 100%;
          border-radius: 1rem;
          transition: width 2s, margin-top .5s ease;
        }
      }
    }
  }

  &__content__inner{
    position: relative;
    grid-column: 4 / -1;
    background-color: $c-w;
    border-radius: 3rem;
    padding: 1.5rem 1.5rem 10rem 1.5rem;
    overflow: hidden;
  }

  &__content{
    position: relative;

    .principle{

      &__title{
        grid-column: 1 / -1;
        color: $c-b;
      }

      &__description{
        grid-column: 1 / -1;
        margin-top: 1rem;
        color: $c-b;
        opacity: .8;
        max-width: 28.75rem;
      }

      &__list{
        grid-column: 1 / -1;
        margin-top: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem .5rem;

        @include laptop{
          margin-top: 2rem;
        }
      }

      &__item{
        flex: calc(50% - .5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #E3E3E3;
        border-radius: 2rem;
        padding: 1.5rem;
        gap: 2.5rem 0;
        min-height: 15rem;

        @include laptop{
          min-height: 12.5rem;
          border-radius: 1.5rem;
        }

        &__inner{
          display: flex;
          align-items: center;
          gap: 0 1rem;
        }

        &__icon{
          width: 4.65rem;
          height: 4.65rem;
          border-radius: 1rem;
          background-color: #C5C5C5;

          @include laptop{
            width: 4rem;
            height: 4rem;
            border-radius: .75rem;
          }
        }

        &__title{
          max-width: 17.5rem;
          color: $c-b;
        }

        &__description{
          max-width: 25.5rem;
          color: #5A5959;

          @include laptop{
            max-width: 100%;
          }
        }
      }

      .principle__button{
        grid-column: 1 / -1;
        margin-top: .5rem;
        width: 100%;

        .button-ui{
          width: 100%;
        }
      }
    }

    .direction{
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      gap: 5rem;

      @include laptop{
        margin-top: 7.5rem;
        gap: 2rem;
      }

      &__title{
        max-width: 42.6rem;
        color: $c-b;
      }

      &__item{
        padding: 2rem 0;
        border-top: 1px solid $c-g;
        display: flex;
        align-items: center;
        gap: 0 1rem;

        @include laptop{
          padding: 1.5rem 0;
        }

        &:last-child{
          border-bottom: 1px solid $c-g;
        }

        &__sub-title{
          width: 3.35rem;
          height: 3.35rem;
          background-color: $c-g;
          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;

          @include laptop{
            width: 3rem;
            height: 3rem;
            border-radius: .75rem;
          }
        }

        &__title{
          color: $c-b;
        }
      }
    }

    .partner{
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem 0;

      @include laptop{
        margin-top: 7.5rem;
        gap: 2rem 0;
      }

      &__title{
        text-align: center;
        color: $c-b;
      }

      &__list__inner{
        display: flex;
        flex-wrap: nowrap;
        gap: 0 .5rem;
      }

      &__list{
        width: fit-content;
        display: flex;
        flex-wrap: nowrap;
        gap: 0 .5rem;
        animation: tickerAnimation 12s linear infinite;
        will-change: transform;
      }

      &__item{
        width: 16.5rem;
        min-height: 12.5rem;
        border-radius: 2rem;
        border: 1px solid $c-g;
        padding: 1.5rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem 0;

        @include laptop{
          width: 12rem;
          min-height: 9rem;
          border-radius: 1.5rem;
        }

        &__image{
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          object-position: center;

          @include laptop{
            width: 5rem;
            height: 5rem;
          }
        }

        &__description{
          text-align: center;
          color: $c-b;
          opacity: .8;
        }
      }
    }

    .projects{
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem 0;

      @include laptop{
        margin-top: 7.5rem;
        gap: 2rem 0;
      }

      &__title{
        color: $c-b;
      }

      &__list{
        display: flex;
        gap: .5rem .5rem;
        flex-wrap: wrap;
      }

      &__item{
        flex: calc(50% - .5rem);
        background-color: #E3E3E3;
        border-radius: 2rem;
        padding: 1.5rem;
        min-height: 21rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include laptop{
          border-radius: 1.5rem;
          min-height: 15rem;
        }

        &__title{
          display: flex;
          align-items: center;
          gap: 0 1rem;

          .h3{
            color: $c-b;

          }

          &__image{
            width: 4.65rem;
            height: 4.65rem;
            object-fit: cover;
            object-position: center;

            @include laptop{
              width: 4rem;
              height: 4rem;
            }
          }
        }

        &__inner{
          display: flex;
          flex-direction: column;
          gap: 1rem 0;
        }

        &__description{
          color: #5A5959;
          max-width: 28rem;
        }
      }

      .button-ui{
        align-self: center;
        min-width: 15rem;

        @include laptop{
          min-width: 10rem;
        }
      }
    }

    .form{
      margin-top: 10rem;
      gap: 2.5rem .5rem;

      @include laptop{
        margin-top: 7.5rem;
        gap: 2rem .5rem;
      }

      &__inner{
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem 0;
      }

      &__title{
        color: $c-b;
        text-align: center;
      }

      &__description{
        color: #5A5959;
        text-align: center;
        max-width: 23rem;

        @include laptop{
          max-width: 18.9rem;
        }
      }

      &__content{
        position: relative;
        grid-column: 4 / 10;
        display: flex;
        flex-direction: column;

        &__list{
          display: flex;
          flex-direction: column;
          gap: .5rem 0;
        }

        &__privacy{
          margin-top: 1rem;
          color: rgba(35, 34, 34, 0.6);

          a{
            display: inline-block;
            text-decoration: underline;
            color: rgba(35, 34, 34, 0.6);
            transition: .5s;

            &:hover{
              color: rgba(35, 34, 34, 0.4);
              transition: .5s;
            }
          }
        }

        .button-ui{
          margin-top: 2.5rem;
          width: 100%;

          @include laptop{
            margin-top: 2rem;
          }
        }
      }

      .message{
        position: absolute;
        bottom: -2rem;
        left: 0;
        color: $c-b;

        &.error{
          color: #E72121;
        }
      }
    }
  }
}

@keyframes tickerAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - .5rem));
  }
}