.hero{
  display: flex;
  flex-direction: column;
  padding-top: 7.5rem;
  gap: 2.5rem 0;

  &__title{

    &__wrapper{
      display: flex;
      align-items: center;
    }

    &__icon{
      width: 7.55rem;
      height: 6.75rem;
      object-fit: cover;
    }
  }

  &__description{
    max-width: 39.15rem;
  }
}