.hero{
  display: flex;
  flex-direction: column;
  padding-top: 7.5rem;
  margin-bottom: 10rem;
  gap: 2.5rem 0;

  &__title{

    &__wrapper{
      display: flex;
      align-items: center;
    }

    &__icon{
      width: 7.55rem;
      height: 6.75rem;
      object-fit: cover;
    }
  }

  &__description{
    max-width: 39.15rem;
  }
}

.about{
  //margin-top: 10rem;

  &__inner{
    grid-column: 4 / -1;
  }

  &__title{
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__description{
    margin-bottom: 2.5rem;
    max-width: 39.15rem;
  }
}

.pride{
  position: relative;
  overflow: hidden;
  padding-top: 10rem;

  &__inner{
    position: relative;
    padding-bottom: 1.5rem;
  }

  &__title{
    text-align: center;
    margin-bottom: 2rem;
  }

  &__description{
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__list{
    display: flex;
    gap: 0 .5rem;
  }

  &__item{
    width: 38.5rem;
    height: 100%;
    min-height: 27.4rem;
    border-radius: 40px;
    border: 1px solid #FFFFFF4D;
    backdrop-filter: blur(40px);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    &__inner{
      display: flex;
      flex-direction: column;
      gap: 2rem 0;
    }

    &__icon{
      width: 5.75rem;
      height: 5.75rem;
      border-radius: 20px;
      border: 2px solid #DBDBDBB2;
      backdrop-filter: blur(40px);
      display: flex;
      align-items: center;
      justify-content: center;

      svg{
        width: 1.95rem;
        height: 1.95rem;
      }
    }

    &__title{
      max-width: 23.25rem;
    }

    &__description{
      max-width: 26.5rem;
    }
  }
}