.background-video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.preloader{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  transition: .5s;

  &__background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__logo{
    width: 27.65rem;
    height: 7.75rem;

    @include mobile{
      width: 11.35rem;
      height: 3.15rem;
    }
  }

  &__done{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: .5s;
  }
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1.5rem 1.5rem 0 1.5rem;
  z-index: 9999;
  transition: .5s;

  @include laptop {
    padding: .5rem 1rem 0 1rem;
  }

  @include mobile {
    padding: 1.25rem .5rem 0 .5rem;
  }

  &.hidden{
    transform: translateY(-110%);
    transition: .5s;
  }

  &__logo{
    grid-column: 1 / 3;
    width: 12rem;
    height: 3.4rem;
    transition: .5s;

    @include laptop {
      width: 5.35rem;
      height: 1.55rem;
    }

    @include mobile{
      width: 3.45rem;
      height: .95rem;
    }

    &:hover{
      opacity: .5;
      transition: .5s;
    }

    svg{
      width: 100%;
      height: 100%;
    }
  }

  &__info{
    grid-column: 4 / 8;
    display: flex;
    align-items: center;
    gap: 0 1.5rem;

    @include mobile{
      display: none;
    }

    &__link{
      display: flex;
      align-items: center;
      gap: 0 .5rem;
      transition: .5s;

      &:hover{
        opacity: .5;
        transition: .5s;
      }

      svg{
        width: .7rem;
        height: .7rem;

        @include laptop {
          width: .5rem;
          height: .5rem;
        }
      }
    }
  }

  &__buttons{
    grid-column: 9 / -1;
    justify-self: flex-end;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 0 .5rem;

    @include mobile{
      display: none;
    }
  }
}

.burger {
  cursor: pointer;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 4.65rem;
  height: 4.65rem;
  border-radius: 1rem;
  background-color: $c-w;
  border: 1px solid #C2C2C2;
  z-index: 9999;
  transform: translateX(calc(100% + 1.5rem));
  transition: 0.3s;

  @include laptop {
    top: .5rem;
    right: 1rem;
    transform: translateX(calc(100% + 1rem));
  }

  @include mobile {
    top: .5rem;
    right: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .5rem;
    transform: translateX(0);
  }

  &:hover{

    .burger__item{
      opacity: .5;
    }
  }

  &.active {
    transform: translateX(0);
    transition: 0.6s;
  }

  &.open {

    .burger__item {
      left: calc(50% - 1rem);

      @include mobile {
        left: calc(50% - .5rem);
      }

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2px;
    background-color: $c-b;
    transform-origin: center;
    transition: 0.5s;

    @include mobile{
      width: 1rem;
      height: 1px;
    }

    &:first-child {
      transform: translate(-50%, -6px);

      @include mobile{
        transform: translate(-50%, -3px);
      }
    }

    &:last-child {
      transform: translate(-50%, 6px);

      @include mobile{
        transform: translate(-50%, 3px);
      }
    }
  }
}


.burger-menu{
  position: fixed;
  top: 7rem;
  right: 1.5rem;
  width: 34rem;
  background-color: $c-w;
  border: 1px solid #C2C2C2;
  height: calc(100% - 7rem - .75rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem 0;
  border-radius: 1.5rem;
  padding: 1.5rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 99999999;
  transition: .5s;

  &::-webkit-scrollbar {
    display: none;
  }

  @include laptop {
    top: 6rem;
    right: 1rem;
    width: 24.5rem;
    height: calc(100% - 6rem - .75rem);
  }

  @include mobile {
    top: 3.5rem;
    right: .5rem;
    width: calc(100% - 1rem);
    height: calc(100% - 3.5rem - .5rem);
    padding: 1rem .5rem .5rem .5rem;
    border-radius: 1rem;
  }

  &.open{
    opacity: 1;
    visibility: initial;
    pointer-events: all;
    transition: .5s;
  }

  &__navigation{
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;

    @include mobile {
      gap: 1rem 0;
    }

    .burger-menu__item{

      @include mobile {
        font-size: 1.25rem;
      }
    }
  }

  &__item{
    width: fit-content;
    color: $c-b;
    transition: .5s;

    &:hover{
      opacity: .5;
      transition: .5s;
    }
  }

  &__block{
    display: flex;
    flex-direction: column;
    gap: .5rem 0;

    &__title{
      color: $c-b;
      opacity: .7;
    }
  }

  &-contacts{
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    margin-bottom: 2.5rem;

    @include laptop{
      gap: 1rem 0;
      margin-bottom: 2rem;
    }

    @include mobile{
      margin-bottom: 1.5rem;
    }
  }

  .button-ui{
    width: 100% !important;
  }

  &__download{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0 .5rem;
    color: $c-b;
    transition: .5s;

    &:hover{
      opacity: .5;
      transition: .5s;
    }
  }
}