.header{
  position: fixed;
  top: 0;
  padding: 1.5rem 1.5rem 0 1.5rem;
  z-index: 9999;
  transition: .5s;

  &__logo{
    grid-column: 1 / 3;
    width: 12rem;
    height: 3.4rem;
    transition: .5s;

    &:hover{
      opacity: .5;
      transition: .5s;
    }

    svg{
      width: 100%;
      height: 100%;
    }
  }

  &__info{
    grid-column: 4 / 8;
    display: flex;
    align-items: center;
    gap: 0 1.5rem;

    &__link{
      display: flex;
      align-items: center;
      gap: 0 .5rem;
      transition: .5s;

      &:hover{
        opacity: .5;
        transition: .5s;
      }

      svg{
        width: .7rem;
        height: .7rem;
      }
    }
  }

  &__buttons{
    grid-column: 9 / -1;
    justify-self: flex-end;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 0 .5rem;
  }
}